.contenedor{
    background-image: url(https://images.unsplash.com/photo-1490093158370-1a6be674437b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1516&q=80);
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.titulo{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
    
    margin-bottom: 1em;
    margin-top: 1em;
    box-shadow: 0px 0px 8px 1px rgb(192, 197, 207);
    ;
    border-radius: .5em;
    font-family: 'Roboto' ;
    
}
.contenedor-imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 1.5em;
    
}

.item{
    display: flex;
    height: 7em;
    width: 25em;
    box-shadow: 0px 0px 8px 1px rgb(192, 197, 207);
    padding: .6em;
    align-items: center;
    justify-content: space-around;
    border-radius: .5em;
    font-family: 'Roboto' ;
   
}
img{
    height: 70%;  
}