
/* estilos de menu */

*{
    box-sizing: border-box;
    margin: 0;
}

.contenedor-banner{
    min-height: 60vh;
    background-image: url(../../src/assets/fondo1.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    position: relative;
    
    .TITULO{
        display:inline-block;
        background: rgba(242, 242, 242, 0.64);
        // filter: blur(1px);
        height:30vh;
        width: 65vw;
        z-index: 1;

        .CONTENEDOR_TITULO{
            z-index: 10;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height:100%;
            border: 1px solid red;
        }

    }
    .menu{
        background: rgba(75, 75, 75, 0.53);
        position:absolute;
        bottom: 0;
        width: 100vw;
        height:3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .item-link{
            color: white;
            border: 1px solid red;
            padding-left: 1em;
            padding-right: 1em;
            height: 3.5rem;
        }

    }
    


}




