
/* estilos de menu */

*{
    box-sizing: border-box;
    margin: 0;
}
.contenedor-menu{
    display: flex;
    background: mediumslateblue;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    justify-content:space-between;
    
    
    
}

.contenedor-menu .contenedor-derecha{
    display: flex;
    margin-right: 2em;
}
.contenedor-menu .contenedor-izquierda{
    
    margin-left: 2em;
}
.contenedor-menu .contenedor-derecha .item-menu .item-link{
 
    padding: .5em;
    margin: 1em;
    border-radius: 2em;
    
}

.contenedor-menu .contenedor-derecha .item-menu .item-link:hover{
    background: seashell;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}



/* estilos de banner */
.contenedor-banner{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap:1px;
    background: lightslategray;
    grid-auto-rows: 100px;
    grid-auto-flow: row dense;
}
.contenedor-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-banner img:nth-child(1){
    grid-area: span 1/span 2;
}
.contenedor-banner img:nth-child(2){
    grid-area: span 2/span 2;
}
.contenedor-banner img:nth-child(3){
    grid-area: span 2/span 1;
}
.contenedor-banner img:nth-child(6){
    grid-area: span 2/span 1;
}
.contenedor-banner img:nth-child(10){
    grid-area: span 1/span 3;
}




