.contenedor{
    background-image: url(https://images.unsplash.com/photo-1490093158370-1a6be674437b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1516&q=80);
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
    
}


.titulo{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
    
    margin-bottom: 1em;
    margin-top: 1em;
    box-shadow: 0px 0px 8px 1px  rgb(192, 197, 207);
    border-radius: .5em;
    font-family: 'Roboto' ;
    background: rgb(91, 119, 155);
    color: white;

    
}

.contenedor-descripccion{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 1.5em;
    background-color: rgba(224, 222, 223, 0.61);
    
}
.item{
    display: grid;
    height: 100%;
    grid-template-areas: 'titulo titulo'
                         'colum columm';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 1fr;
    

}
.item-imagen{
    height: 12em;
    width: 12em;
    background-image: url(https://scontent-lim1-1.xx.fbcdn.net/v/t1.0-0/p206x206/53701905_2116961038357253_4470376212794966016_o.jpg?_nc_cat=100&ccb=2&_nc_sid=da31f3&_nc_eui2=AeESmEEyeIuVYyHI7GpvyUD09VrbYQFz3KD1WtthAXPcoNtSCCeNNx3LvnxBdm6dEeupjSPTYseLuglsPOZ5N1xS&_nc_ohc=bRm9WSdlOesAX8mmG0D&_nc_ht=scontent-lim1-1.xx&tp=6&oh=e7b320d197bd5d946b116a87386c6918&oe=6020FC5D);
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: colum;
    border-radius: 50%;
    margin: 1em;
}
.item-titulo{
    grid-area: titulo;
    font-size: 2em;
    margin: 1.5em;
}
.item-descripcion{
   
    grid-area: columm;
    
}
