.contenedor{
    .colum1{
        min-height: 80vh;
        margin-top: 3em;
        margin-bottom: 3em;
        .proyectos{
            width: 100%;
            height: 100%;
           
            position: relative;
            padding-top: 6em;
            // padding-bottom: 5em;
            display:flex;
            justify-content: center;
            align-items: center;
            .tituloDescripccion1{
                position:absolute;
                top: 0;
                left:0;
                width: 50%;
            }
            .contener{
                width: 60%;
                height:100%;
                display:grid;
                grid-template-columns: repeat(3,1fr);
                gap: 0em;
                align-items: center;
                justify-content: center;
                .cartContacto{
                    width:11em;
                    background: rgba(67, 67, 67, 1);
                    color: white;
                    height: 10em;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    margin: 1em;
                    svg{
                        width: 50%;
                        height:50%;
                    }
                    &:hover{
                         background: rgba(143, 140, 140, 1);
                    }
    
                }
            }
        }
    }
}