
.contenedor{
    
    .columna1{
        height: 200vh;
        margin-top: 3em;
        margin-bottom: 3em;
        .proyectos{
            width: 100%;
            .tituloDescripccion1{
                left:0;
                width: 50%;
            }
            .tituloTexto1{
                top: 5%;
                
            }
            .hospital1{
                width: 35em;
                height:14.5em;
                background-image: url(../../assets/hospital1.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position:center center;
                margin-bottom: 1em;
            }
            .hospital2{
                background-image: url(../../assets/hospital2.png);
            }
            .hospital3{
                background-image: url(../../assets/hospital3.png);
            }
        }
    }
}